In [1]:
import pandas as pd

In [169]:
texto = []
with open('corrida', 'r', encoding='utf-8') as data_corrida:
    for line in data_corrida:
        texto.append(line.replace('\t', ' '))
        
with open('corrida2', 'w', encoding='utf-8') as arquivo:
    arquivo.writelines(texto)

In [170]:
names =[
    'hora', 'n_piloto', '-', 'piloto', 'n_volta', 'tempo_volta',
    'velocidade_media_volta', '1', '2', '3'
]
df = pd.read_csv('corrida2', delim_whitespace=True, names=names)
df = df.drop(columns=['-', '1', '2', '3'])
df = df.drop([0], axis=0)
df['piloto'] = df['piloto'].replace('F.MASS', 'F.MASSA')

In [171]:
df['n_volta'] = pd.to_numeric(df['n_volta'])
df['tempo_volta'] = '00:' + df['tempo_volta']
df['tempo_volta'] = pd.to_timedelta(df['tempo_volta'])
df

,hora,n_piloto,piloto,n_volta,tempo_volta,velocidade_media_volta
1,23:49:08.277,038,F.MASSA,1,00:01:02.852000,"44,275"
2,23:49:10.858,033,R.BARRICHELLO,1,00:01:04.352000,"43,243"
3,23:49:11.075,002,K.RAIKKONEN,1,00:01:04.108000,"43,408"
4,23:49:12.667,023,M.WEBBER,1,00:01:04.414000,"43,202"
5,23:49:30.976,015,F.ALONSO,1,00:01:18.456000,"35,47"
6,23:50:11.447,038,F.MASSA,2,00:01:03.170000,"44,053"
7,23:50:14.860,033,R.BARRICHELLO,2,00:01:04.002000,"43,48"
8,23:50:15.057,002,K.RAIKKONEN,2,00:01:03.982000,"43,493"
9,23:50:17.472,023,M.WEBBER,2,00:01:04.805000,"42,941"
10,23:50:37.987,015,F.ALONSO,2,00:01:07.011000,"41,528"
11,23:51:14.216,038,F.MASSA,3,00:01:02.769000,"44,334"
12,23:51:18.576,033,R.BARRICHELLO,3,00:01:03.716000,"43,675"
13,23:51:19.044,002,K.RAIKKONEN,3,00:01:03.987000,"43,49"
14,23:51:21.759,023,M.WEBBER,3,00:01:04.287000,"43,287"
15,23:51:46.691,015,F.ALONSO,3,00:01:08.704000,"40,504"
16,23:52:01.796,011,S.VETTEL,1,00:03:31.315000,"13,169"
17,23:52:17.003,038,F.MASSA,4,00:01:02.787000,"44,321"
18,23:52:22.586,033,R.BARRICHELLO,4,00:01:04.010000,"43,474"
19,23:52:22.120,002,K.RAIKKONEN,4,00:01:03.076000,"44,118"
20,23:52:25.975,023,M.WEBBER,4,00:01:04.216000,"43,335"
21,23:53:06.741,015,F.ALONSO,4,00:01:20.050000,"34,763"
22,23:53:39.660,011,S.VETTEL,2,00:01:37.864000,"28,435"
23,23:54:57.757,011,S.VETTEL,3,00:01:18.097000,"35,633"

In [173]:
df['tempo_total'] = df['n_volta'] * df['tempo_volta']
df

,hora,n_piloto,piloto,n_volta,tempo_volta,velocidade_media_volta,tempo_total
1,23:49:08.277,038,F.MASSA,1,00:01:02.852000,"44,275",00:01:02.852000
2,23:49:10.858,033,R.BARRICHELLO,1,00:01:04.352000,"43,243",00:01:04.352000
3,23:49:11.075,002,K.RAIKKONEN,1,00:01:04.108000,"43,408",00:01:04.108000
4,23:49:12.667,023,M.WEBBER,1,00:01:04.414000,"43,202",00:01:04.414000
5,23:49:30.976,015,F.ALONSO,1,00:01:18.456000,"35,47",00:01:18.456000
6,23:50:11.447,038,F.MASSA,2,00:01:03.170000,"44,053",00:02:06.340000
7,23:50:14.860,033,R.BARRICHELLO,2,00:01:04.002000,"43,48",00:02:08.004000
8,23:50:15.057,002,K.RAIKKONEN,2,00:01:03.982000,"43,493",00:02:07.964000
9,23:50:17.472,023,M.WEBBER,2,00:01:04.805000,"42,941",00:02:09.610000
10,23:50:37.987,015,F.ALONSO,2,00:01:07.011000,"41,528",00:02:14.022000
11,23:51:14.216,038,F.MASSA,3,00:01:02.769000,"44,334",00:03:08.307000
12,23:51:18.576,033,R.BARRICHELLO,3,00:01:03.716000,"43,675",00:03:11.148000
13,23:51:19.044,002,K.RAIKKONEN,3,00:01:03.987000,"43,49",00:03:11.961000
14,23:51:21.759,023,M.WEBBER,3,00:01:04.287000,"43,287",00:03:12.861000
15,23:51:46.691,015,F.ALONSO,3,00:01:08.704000,"40,504",00:03:26.112000
16,23:52:01.796,011,S.VETTEL,1,00:03:31.315000,"13,169",00:03:31.315000
17,23:52:17.003,038,F.MASSA,4,00:01:02.787000,"44,321",00:04:11.148000
18,23:52:22.586,033,R.BARRICHELLO,4,00:01:04.010000,"43,474",00:04:16.040000
19,23:52:22.120,002,K.RAIKKONEN,4,00:01:03.076000,"44,118",00:04:12.304000
20,23:52:25.975,023,M.WEBBER,4,00:01:04.216000,"43,335",00:04:16.864000
21,23:53:06.741,015,F.ALONSO,4,00:01:20.050000,"34,763",00:05:20.200000
22,23:53:39.660,011,S.VETTEL,2,00:01:37.864000,"28,435",00:03:15.728000
23,23:54:57.757,011,S.VETTEL,3,00:01:18.097000,"35,633",00:03:54.291000

In [181]:
agrupado = df.groupby(['piloto', 'n_piloto'])
classificacao = agrupado.sum()
classificacao = classificacao.join(agrupado.tempo_total.sum())

In [183]:
classificacao.sort_values(by=['tempo_total', 'n_volta'])

                        n_volta     tempo_total
piloto        n_piloto
F.MASSA       038            10 00:10:28.647000
K.RAIKKONEN   002            10 00:10:36.337000
R.BARRICHELLO 033            10 00:10:39.544000
S.VETTEL      011             6 00:10:41.334000
M.WEBBER      023            10 00:10:43.749000
F.ALONSO      015            10 00:12:18.790000